<nav class="bg-white shadow-lg py-4">
  <div class="max-w-7xl mx-auto px-6 sm:px-8 lg:px-10">
    <div class="flex justify-between h-20">

    <!-- Logo -->
    <div class="flex items-center">
      <%= link_to root_path do %>
        <%= image_tag "jicc_logo.png", class: "w-auto mr-2", style: "height: 90px;", alt: "JICC Logo" %>
      <% end %>
      <%= link_to root_path, class: "ml-3 text-2xl font-bold text-gray-700" do %>
        Joy International Church Center
      <% end %>
    </div>

      <!-- Desktop menu -->
      <div class="hidden md:flex items-center space-x-4">
        <%= link_to "Home", root_path, class: "text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium" %>
        <%= link_to "About", about_path, class: "text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium" %>
        <%= link_to "Ministries", ministries_path, class: "text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium" %>
        <%= link_to "Events", events_path, class: "text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium" %>
        <%= link_to "Sermons", sermons_path, class: "text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium" %>
        <%= link_to "Contact", contact_path, class: "text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium" %>
        <%= link_to "Give", giving_path, class: "text-white px-4 py-2 rounded-md text-lg font-medium hover:bg-orange-700", style: "background-color: red;" %> 
      </div>

      <!-- Mobile menu button -->
      <div class="-mr-2 flex items-center md:hidden">
        <button type="button" class="bg-white rounded-md p-2 text-gray-800 hover:text-gray-900">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 10h16M4 14h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav> 